@model DrinkListViewModel
@{
    ViewData["Title"] = "List";
}

<div>
    <h1>All Drinks are shown here</h1>
</div>

<h2>@Model.CurrentCategory</h2>

@{
    foreach (Drink drink in Model.Drinks)
    {
        @await Html.PartialAsync("DrinksSummary", drink)
    }
}