
@{
    ViewData["Title"] = "Index";
}

    <h1>Cantact us</h1>
    <p>If you have any question Please do not hesitate to contact us:</p>

<email address="arslan095@outlook.com" content="Email us"></email>
